 body{
    background-color: black;
    color:gray;
    font-family: Arial;
    text-align: center;
}
img#imagen1{
    width: 1000px;
    display: block;
    margin: auto;
}
h1{
    font-family:"Agency FB";
    color:white;
    text-align: center; 
}
iframe{
    display: block;
    margin: auto;
}
img#imagen2{
    width: 600px;
    display: block;
    margin: auto;
}
img#imagen3{
    width: 700px;
    display: block;
    margin: auto;
}
img#imagen4{
    width: 600px;
    display: block;
    margin: auto;
}
img#imagen5{
    width: 700px;
    display: block;
    margin: auto;
}
img#imagen6{
    width: 800px;
    display: block;
    margin: auto;
}
img#imagen7{
    width: 700px;
    display: block;
    margin: auto;
}
img#imagen8{
    width: 800px;
    display: block;
    margin: auto;
}
img#imagen9{
    width: 700px;
    display: block;
    margin: auto;
}
img#imagen10{
    width: 800px;
    display: block;
    margin: auto;
}
img#imagen11{
    width: 700px;
    display: block;
    margin: auto;
}
img#imagen12{
    width: 800px;
    display: block;
    margin: auto;
}
img#imagen13{
    width: 700px;
    display: block;
    margin: auto;
}
img#imagen14{
    width: 800px;
    display: block;
    margin: auto;
}
img#imagen16{
    width: 300px;
    display: block;
    margin: auto;
}
img#imagen17{
    display: block;
    margin: auto;
    width: 200px;
}
img#imagen18{
    width: 200px;
    display: block;
    margin: auto;
}
img#imagen19{
    width: 200px;
    display: block;
    margin: auto;
}