body{
    background-color: black;
    color:gray;
    font-family: Arial;
    text-align: center;
}
h1{
    font-family:"Agency FB";
    color:white;
    text-align: center; 
}
img#imagen2{
    width: 600px;
}
img#imagen11{
    width: 300px;
    display: block;
    margin: auto;
}
img#imagen12{
    display: block;
    margin: auto;
    width: 200px;
}
img#imagen13{
    width: 400px;
    display: block;
    margin: auto;
}
img#imagen14{
    width: 200px;
    display: block;
    margin: auto;
}